/* css code for index.html */

/* reset browser default spacings */
* {
    margin: 0;
    padding: 0;
}


/* no x scrolling */
body {
    background-color: white;
    overflow-x: hidden;

}


/* style for top header of the website where we have logos and menu */
.header-container {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    height: 110px;
}

/* style for top header of the website where we have logos and menu. Has absolute position */
.header-logo {

    position: absolute;
    top:10px;
    right: 50px;
    background-image: url(https://www.darmankade.com/_nuxt/img/cd3eac7.svg);
    height: 50px;
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
    background-color: white;
}


/* style for our icons from fontawesome */
.i {
    font-size: 200px;
}

/* style for top header icon */
.header-icon {
    margin-left: 5px;
    font-size: 15px;
}



/* style for welcome text */
#vorood-text {

    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #ededed;
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1780df;
    margin-right: 100px;
    border-radius: 5px;
}

/*  */
/* hover for vorood */
#vorood-text:hover{
    color: orangered;
}



/* style for vorood icon on the top left */
#vorood-icon {
    margin-top: 5px;
    font-size: 15px;
    margin-right: 10px;


}

/* style for div children of the header */
.header-container > div {

    background-color: white;
    margin: 10px;
    padding-right: 40px;
    font-size: 30px;
    display: flex;
}

/* style for the header list flex where we have top logo and menu items */
.header-list {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 40px;

}

/* style for header top text */
.header-text {
    font-size: 14px;
    margin-right: 10px;

}

/* style for paragraphs. it is only a place holder at this time  */
.p {
    color: aqua;
}


/* style for seach section background main div */
#search-background {
    display: flex;
    width: 100%;
    height: 250px;
    background-image: url("https://www.darmankade.com/_nuxt/img/5ef8034.png");
    background-color: lightblue;
    Background-size: cover;
    background-color: #1780df;
    flex-direction: column;
}

/*  style for the seachbar row flex where we have our elemtns in a row */
#searchBar {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 100px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

/* style for top header of the search box */
#search-upper-box {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;

}


/* style for searchbar header text */
#search-upper-box-text {
    font-size: 50px;

    color: white;

}

/* style for the container of the search box where bottom and the bar itself reside */
#search-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37%;
    width: 100%;
    flex-direction: row-reverse;
    margin-top: 10px;

}

/* style for specialization main container */
#specialization-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}


/* style for cardboards container */
#all-cards-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

/* style for cardboards */
.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 40px;
    height: 150px;
    width: 160px;
    justify-content: center;
    align-items: center;

}

/* style for cardboards hover */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* stylefor top of cards text elements */
#card-top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 90px;

}

/* style for behtarin doctor text */
#behtarin {
    font-size: 14px;
    color: #3b4157;
    font-weight: 700 !important;
    text-align: right;
    direction: rtl;
}


/* style for moshahede hame text */
#moshahede-hame {

    font-size: 14px;
    font-weight: 700 !important;
    color: #1780df;
    margin-left: 100px;
    text-decoration: none;

}

/* style for moshahede hame text hover */
#moshahede-hame:hover, .text-water-blue {
    color: #1780df;
}

/* style for card container */
.card-containter {
    padding: 2px 16px;
}

/* placeholder for img style. we will later override it if needed */
img {
    border-radius: 5px 5px 0 0;
}

/* style for card background flex where cards reside */
.card-background {
    display: flex;

    height: 60%;
    width: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

/* style for cardboard caption */
.card-subtitle {
    margin-bottom: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: #3b4157;
    font-weight: 700 !important;
    margin-top: 1.5rem !important;

    text-align: center;

}

/* style for comments container where we have an image a botton and a paragraph */
#comments-container {
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


/* style for quote box. It's position is absolute and it's and image in fact */
#quote-sign-container {
    width: 50px;
    height: 50px;
    background-image: url("../images/doctors/quote.PNG");
    Background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 769px;
    right: 800px;
}

/* style for nazarate mardom text */
.nazarat-mardom-text {
    direction: rtl;
    text-align: right;
    margin-right: 60px;

}

/* style for doctors name text*/
#doctor-name {
    padding-left: 24px;
    font-size: 14px;
}

/* style for doctor's picture and name and profession field */
#please {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    width: 30%;
}

/* style for nazarate mardom header */
.nazarat-mardom-titr {
    margin-right: 60px;
    direction: rtl;
    text-align: right;
    margin-right: 60px;

}

/* style for right comment  */
#right-comment-container {
    width: 50%;
}


/* style for comments text container */
#right-comment-text-container {
    display: flex;
    flex-direction: column;
    text-align-all: right;
}


/* style for nazarate mardom container */
#nazarate-mardom-container {
    margin-right: 0px;

}

/* style for right side comment text */
#right-comment-text {
    display: flex;
    flex-direction: column;

}

/* style for left comments container */
#left-comment-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #e5f2fe;
    height: 500px;
    width: 500px;
    border: 1px solid #1780df;
    border-radius: 20px;
    height: 370px;
    margin-left: 10px;
}


/* style for doctor name in comment section text */
#doctor-name-comment {
    background-color: red;

    font-weight: bold;
    text-align: right;
    direction: rtl;
    margin: 0px;
}

/* style for comments left paragraph */
#left-comment-paragraph {

    text-align: right;
    direction: rtl;
    margin-right: 15px;

    font-size: 20px;
    margin-top: 30px;

}

/* style for comments triangle. it's position is absokute */
#comment-triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #e5f2fe;
    position: absolute;
    top: 1150px;
    right: 1150px;

}


/* style for commenter's name text */
#commenter-name {
    font-size: 13px;

    position: absolute;
    color: black;
    right: 1150px;
    top: 1190px;

}

/* style for comments lower lweft container where the bottom resides */
#comment-lower-left-container {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-style: dashed;
    height: 35%;
    width: 100%;
    background-color: #e5f2fe;
    border-top-width: 1px;
    margin-top: auto;
}

/* style for comments bottom picture container */
#comment-bottom-picture-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 20%;
    margin-right: 20px;
}

/* style for comment image. we want it to be a circle */
#comment-image {
    border-radius: 50%;
    height: 80%;


}

/* style for doctor's description div */
#doctor-description-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 20px;


}

/* style for doctor's field text */
#doctor-field {
    padding-right: 30px;
    direction: rtl;
    text-align: right;
}

/* style for doctor's name container div */
#doctor-name-container {
    display: flex;
    flex-direction: row-reverse;
}

/* style for doctor's field container */
#doctor-field-container {
    padding: 0px;
}

/* style for sayere nazarat button */
#sayere-nazarat-botton {
    background-color: #fb815e;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    text-align: center;
    padding-top: 15px;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

/* style for sayere nazarat container  */
#sayere-nazarat-container {
    margin-top: 30px;
    margin-left: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    width: 50%;

}

/* style for services container and its background which is cloned from the website */
#service-container {
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    background-image: url("../images/doctors/specialserviceblue.png");
    Background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

/* style for services top header container */
#service-top-text-container {
    height: 15%;
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
}

/* style for services top header text */
#service-top-header {

    margin-top: 0px;
    font-size: 30px !important;


    color: white !important;
    text-align: center !important;
    width: 100% !important;
    height: 100%;
    margin-top: 10%;

}


/* style for service button's container */
#service-buttom-container {
    height: 90%;

    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    align-items: center;
}

/* style for service right button. it is also used for the left services section */
#service-right-bottom-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;

    margin-right: 20%;
    margin-left: 5%;
    padding-bottom: 0px;


}

/* style for services left bottom container. It is also used for the right counterpart */
#service-left-bottom-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    margin-left: 20%;
    margin-right: 5%;
}

/* style for the services right image container. It is addressed locally */
#service-right-image-container {
    background-image: url("../images/doctors/service_right_image.png");
    width: 100%;
    height: 50%;
    Background-size: cover;
    margin-top: 0px;
}

/* style for the services left image container. It is addressed locally */
#service-left-image-container {
    background-image: url("../images/doctors/service_left_image.png");
    width: 100%;
    height: 50%;
    Background-size: cover;
}

/* style for service's right side text */
.right-service-text {
    height: 10%;
    color: white;
    font-weight: bold;
    font-size: 15px;
    direction: rtl;
    text-align: right;

    margin-top: 5%;

}

/* style for service right header. it's the same for the service left header  */
.right-service-header {
    color: white;
    font-weight: bold;
    font-size: 25px;
    direction: rtl;
    text-align: center;

    margin-top: 5%;

}

/* style for service right button container. It's the same for the left one */
.service-right-button-container {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0%;
    margin-top: auto;
}

/* style for service right button. it's the same for the left side */
.service-right-button {
    Border: 2px solid white;
    border-radius: 10px;
    height: 45%;
    width: 90%;
    text-align: center;
    padding-top: 7px;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    font-size: 18px;

    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: auto;
}


/* style for download container */
#download-container {
    display: flex;
    flex-direction: row;

}

/* style for download container. it overrides the last one! */
#download-container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 10vh;
}

/* style for download's left container where our textbar and button reside */
#download-left-container {
    height: 100%;
    width: 30%;
    margin-left: auto;
    margin-right: 5%;
    background-color: lightgreen;
}

/* style for download right side container where the doctors and the following icons reside */
.download-right-container {
    height: 100%;
    width: 35%;

    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

/* style for donwload's right upper image. It is addressed locally */
.download-right-upper-image {
    margin-top: 30%;
    background-image: url("../images/doctors/downloadmain.png");
    Background-size: cover;
    height: 50%;
    width: 100%;
    border-radius: 20px;
}

/* style for download's right lower doctors strip where icons reside */
#download-right-lower-images-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 40px;

}

/* style for google image in the download section. it is addressed locally */
#google-image {
    background-image: url("../images/doctors/googleplay.png");
    width: 30px;
    height: 100%;
    width: 30px;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    Background-size: contain;


}

/* style for apple image in the download section. it is addressed locally */
#apple-image {
    background-image: url("../images/doctors/apple.png");
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-left: 20px;
    Background-size: contain;
    margin-top: 10px;
    margin-bottom: 20px;


}

/* style foe the baarimage in the download section. it is addressed locally */
#bazar-image {
    background-image: url("../images/doctors/bazar.png");
    width: 30px;
    height: 100%;
    width: 30px;
    background-repeat: no-repeat;
    Background-size: contain;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* style for the download left main container. it resides the text bar and buttons */
.download-left-main-container {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
    border-radius: 20px;
}

/* style for the download's left side header container */
.download-left-header-container {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 0px;
    width: 100%;
}

/* style for the download's left side text container */
#download-left-text-container {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 0px;
    width: 100%;
}

/* style for the download's left side header */
#dowload-left-upper-header {

    font-size: 20px !important;
    font-weight: 700 !important;
    margin-right: 0px;
}

/* style for donwloads left side paragraph */
#left-download-paragraph {
    direction: rtl;
    text-align: right;

    margin-right: 0px;
    margin-top: 5%;
}

/* style for downloads left side lower header */
#dowload-left-lower-header {
    margin-right: 0px;

    font-size: 15px !important;
    font-weight: 600 !important;
    margin-top: 18%;
}

/* style for download's left lower container */
#download-left-lower-container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5%;
    padding-right: 0px;
    height: 13%;

}

/* style for download left text box */
#download-left-text-box {
    border-radius: 10px;
    border: 2px solid gray;
    padding: 20px;
    width: 45%;
    height: 15%;
    margin-right: 0px;
    direction: rtl;

    text-align: right;
    language: "ar-sa";
}

/* style for donwload button container */
#download-button-container {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0%;
    padding-top: 0px;
    margin-right: 10px;

}

/* style for orange buttone. they have a white transparent effect which slide uppon hover or release */
.btn {
    cursor: pointer;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 10px;
    vertical-align: middle;
    text-decoration: none;
    background-color: #fb815e;
    font-size: 18px;

    position: relative;
    text-align: center;
    line-height: 40px;
    border: none;
    margin: 0;
    padding: 0;
}

/* style for orange buttons hover */
.btn:hover .btn-inside {
    width: 100%;
    transition: width 1s ease;
}

/* style for buttons with transparent layer effect. transition time is set to 1s */
.btn-inside {
    opacity: 0.5;
    border-radius: 10px;
    background-color: #fc9c81;
    width: 20%;
    height: 100%;
    line-height: 40px;
    text-align: left;
    position: absolute;
    transition: width 1s ease;
}

/* style for registration text */
.registration-text {
    text-align: center;
    padding-right: 110px;
    font-size: 20px;

}

/* style for download text */
.download-text {
    text-align: center;
    font-size: 12px;
    padding-right: 30px;

    margin-top: 5px;
}

/* style for all span elements. we may override it */
span {
    display: inline-block;
}

/* style for  download button's icon container */
#download-button-icon-container {
    margin-right: 5%;
    height: 30%;
}

/* style for  download button text*/
#download-button-text {
    font-size: 14px;

    margin-right: 20%;
    color: white;
    margin-top: 2%;
}

/* style for footer's main container */
#footer-main-container {
    height: 130vh;
    width: 100vw;
    background-color: #007bff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

/* style for footr's logo main container */
#footer-logo-main-container {
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

/* style for footer's logo container. the logo is addressed locally */
#footer-logo-container {

    background-image: url("../images/doctors/footerlogo.svg");
    Background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
    height: 80%;
    margin-top: 2%;
    margin-bottom: 2px;
}

/* style for footer's top paragraph main container */
#footer-top-paragraph-main-container {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* style for  footer's paragraph's second container. used as spacer between logo and middle content */
#footer-top-paragraph-secondary-container {
    height: 100%;
    width: 30%;
}

/* style for footer's top paragraph */
#footer-top-paragraph {
    direction: rtl;
    text-align: center;
    font-size: 16px;
    color: #fff !important;


}

/* style for  footer's middle container where buttons and icons reside */
#footer-middle-container {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

/* style for footer's middle middlecontainer where icon's in the footer reside */
#footer-middle-middle-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

/* style for footer's middle icnon container */
#footer-middle-icon-container {
    width: 100%;
    height: 20%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 0px;
    padding-left: 0px;
}

/* style for instagram logo container */
#instagram-container {
    font-size: 35px;
    margin-left: 30px;
}

/* style for twitter logo container */
#twitter-container {
    font-size: 35px
}

/* style for linkedin logo container */
#linkedin-container {
    font-size: 35px;
    margin-right: 2%;
}

/* style for linkedin logo container */
.footer-side-rectangle-container {
    padding-top: 20px;
    width: 13%;
    height: 100%;
    display: flex;
    flex-direction: column
}

/* style for footer's side boxes where they are buttons in fact */
.footer-side-box {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 2px solid white;
}


/* style for footer's horizontal line */
#footer-line-container {
    margin-top: 20px;
    width: 100%;
    height: 40%;
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
}

/* style for footer's line div container */
#footer-line-container {
    height: 80%;
    width: 52%;
    border-right: 2px solid white;
}

/* style for footer's button container */
.footer-button {
    width: 60%;
    height: 100%;
    text-decoration: none;
    color: white;
    direction: rtl;
    text-align: right;

    padding-right: 12px;
}

/* style for footer's lower paragraph container */
#footer-lower-paragraph-container {
    width: 30%;
    height: 10%;
    direction: rtl;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    color: #fff !important;

}

/* style for footer's lower textbar container */
#footer-lower-textbar-container {
    height: 25%;
    width: 30%;
    display: flex;
    flex-direction: column;

}

/* style for footer's top textbar container */
.footer-top-textbars-container {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 10px;

}

/* style for footer's textbar */
.footer-text-bar {
    border-radius: 5px;
    border: 2px solid gray;
    width: 48%;
    height: 100%;
    margin-right: 0px;
    direction: rtl;

    text-align: right;
    language: "ar-sa";
    padding-right: 10px;

}

/* style for search text bar in footer */
#search-text-bar {
    border: 0px;
    width: 41%;
    height: 100%;
    margin-right: 0px;
    direction: rtl;

    text-align: right;
    language: "ar-sa";
    padding-right: 15px;
    font-size: 15px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 0px;
}

/* style for search box icon container container */
#search-box-icon-container-container {
    background-color: white;
    height: 81%;
    width: 2%;
    padding-top: 18px;

}

/* style for search box icon container */
#search-box-icon-container {
    display: flex;
    flex-direction: row-reverse;
    flex-direction: row;
    padding-right: 0px;
    border: 0px;
    border-right: 2px solid gray;
    height: 60%;
    width: 100%;
    margin-top: 35%;

}

/* style for search button */
#search-button {
    background-color: #fb815e;
    border: 0px;
    height: 75px;
    width: 10%;
    text-align: center;
    padding-top: 18px;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

/* style for city selection choices in the search section */
.select-css {
    width: 10%;
    height: 100%;
    border: 0px;
    direction: rtl;
    padding-right: 20px;
    font-size: 20px;

}

/* style for search button */
#footer-button-container {
    width: 100%;
    height: 30%;
    margin-top: 15px;
}

/* style for registration icon container in footer */
#registration-button-icon-container {
    margin-right: 5%;
    height: 30%;
    font-size: 20px;
}

/* style for registration button text */
#registration-button-text {
    font-size: 16px;

    margin-right: 30%;
    color: #fff !important;
    margin-top: 3px;
}

/* style for registration button */
#registration-button {
    color: white;
    display: flex;
    flex-direction: row-reverse;
    Border: 2px solid white;
    border-radius: 10px;
    height: 80%;
    padding-top: 0px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 18px;

}

/* style for enamad container */
#enamad-container {
    height: 15%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

/* style for image where it is addressed locally */
#enamad {
    width: 30%;
    height: 100%;
    background-image: url("../images/doctors/enamad.png");
    Background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-color: white;
}

/* style for rezayat image where it is addresed locally */
#rezayat {
    width: 30%;
    height: 100%;
    background-image: url("../images/doctors/rezayat.png");
    Background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
    background-color: white;
}

/* style for developer's credit */
#credit {
    width: 100%;
    height: 5%;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;


}

/* style for credit's comment */
.credit-comment {

    font-size: 14px;
    color: #3b4157;

}

/* style for header list on hover */
.header-list:hover {
    color: #fb815e;
}

/* style for vorood icon on top on hover */
.vorood:hover {
    color: #fb815e;
}

/* style for  search button hover */
#search-button:hover {
    background-color: orangered;
}

/* style for moshahede hame text hover */
#moshahede-hame:hover {
    color: #fb815e;
}

/* style for sayere nazarat button hover */
#sayere-nazarat-botton:hover {
    background-color: orangered;
}

/* style for service button hover */
.service-right-button:hover {
    background-color: white;
    color: #1780df;
}

/* style for footer button hover*/
.footer-button:hover {
    background-color: white;
    color: #1780df;
}





/* style for top of the navbar whee you see darmankade's name */
#navbar-top {
    /*junction*/
    background-color: #f8f7ef;
    height: 8vh;
    width: 100vw;
    text-align: right;
    direction: rtl;
    padding-top: 4vh;

}

/* style for doctors list main container where we have two subdivs on left and right */
#doctors-list-container {
    width: 65%;
    height: 100%;
    margin-right: 30px;
}

#navbar-top-link {
    margin-right: 80px;
    font-size: 18px;
    text-decoration: none;
}

#midle-conatiner {
    width: 100vw;
    height: 150vh;
    background-color: #f8f7ef;
    display: flex;
    padding-top: 20px;
    flex-direction: row-reverse;

}

#right-container {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;

}

#search-top-image-container {
    width: 80%;
    height: 200px;

    background-image: url("../images/doctors/corona.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#navbar-container {
    width: 100vw;
    height: 9vw;
    display: flex;
    flex-direction: row;
    direction: rtl;
    background-color: #f8f7ef;
}

#navbar{
    border-radius: 10px;
    width: 89.1%;
    height: 9vw;
    background-color: #1780df;
    display: flex;
    flex-direction: column;
    direction: rtl;
    margin-right: 78px;
}

#navbar-top-header {
    margin-top: 12px;
    direction: rtl;
    text-align: right;
    font-size: 30px;
    color: #fff !important;
    margin-right: 65px;
    font-weight: 700 !important;
}

#navbar-text {
    font-size: 14px;
    color: #fff !important;
    text-align: right;
    direction: rtl;
    margin-right: 65px;
    margin-top: 10px;
}

#right-search-container {
    margin-top: 20px;
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid 1px dimgray;
}

#search-top-container {
    width: 80%;
    height: 30%;
    border-bottom: solid 1px dimgray;
}

#jostejoo-dar-natayej {
    font-size: 16px;
    color: #3b4157;
    font-weight: 700 !important;
    text-align: right !important;
    border-radius: 10px;
    margin-top: 7px;

}

#jostejoo-searchbar {

    border: 2px solid gray;
    border-right: none;
    width: 80%;
    height: 70%;
    direction: rtl;
    text-align: center;
    language: "ar-sa";
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#help{

}

#jostejoo-searchbar-container {
    display: flex;
    height: 40%;
    width: 100%;
    flex-direction: row-reverse;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

#magnifier-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 42px;
    width: 20px;
    background-color: white;
    border: 2px solid gray;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

#jostejoo-searchbar-container:placeholder-shown
{
    font-size: 20px;
    line-height: 3;
}

.right-side-dropdown {

    background-color: white;
    border: solid 1px dimgray;
    border-radius: 10px;
    height: 30px;
    width: 75%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding-top: 4px;
    font-size: 14px;
    align-items: center;
    color: #3b4157;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700 !important;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 15px;
}

.right-side-dropdown-text {
    color: #3b4157;
    font-weight: 700 !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: orangered;

}


input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.doctor {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 250px;
    background-color: white;
    margin-top: 20px;
    border: 1px solid #ededed;
    border-radius: 10px;
}

.doctor:hover {
    border: 1px solid orangered;
}

#sort {
    border-radius: 10px;
    border: solid 1px dimgray;
    background-color: white;
    height: 50px;
    width: 98.6%;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
    padding-top: 10px;
}

#morattab-sazi-text {
    font-size: 16px;
    color: #3b4157;
    font-weight: bolder !important;
    margin-right: 15px;
}

#selected-sort-button {
    background-color: #1780df;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    width: 69px;
    direction: rtl;
    padding-bottom: 10px;
    text-align: center;
    height: 50%;
    margin-right: 40px;
}

.un-selected-sort-button {
    margin-right: 40px;
    margin-top: 2px;
    border-radius: 10px;
    font-size: 14px;
    text-decoration: none;
    color: #6e7794;
}

.doctor-left-container {
    line-height: 100%;
    width: 42.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-middle-container {
    line-height: 100%;
    width: 42.5%;
    display: flex;
    flex-direction: column;

}

.doctor-right-container {
    line-height: 100%;
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#doctor1-image-container {
    width: 81%;
    height: 48%;
    background-image: url("../images/doctors/doc1.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 15px;
}

.doctor-name-header {
    font-size: 18px !important;
    color: #3b4157;
    font-weight: 700 !important;
    direction: rtl;
    text-align: right;
    margin-top: 20px;
    margin-right: 10px;
}


.doctor-field-header {
    line-height: 26px;
    font-size: 16px;
    color: #3b4157;
    font-weight: 400 !important;
    direction: rtl;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
}

.stars-main-container {
    margin-top: 25px;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row-reverse;

}

.stars-real-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.number-of-comments {
    color: #6e7794;
    direction: rtl;
    font-size: 10px;
}

.doctor-comment-container {
    width: 100%;
    height: 15%;
    margin-top: 20px;
}

.doctor-comment-paragraph {
    font-size: 14px;
    color: #6e7794;
    direction: rtl;
    margin-right: 10px;
}

.doctor-blue-box {
    width: 90%;
    height: 49%;
    margin-top: 10px;
    background-color: #e5f2fe;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.doctor-detail-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 20%;
    direction: rtl;
    align-items: center;
}

.doctor-detail-top-left-text {
    margin-right: 15px;
    font-size: 12px;
    direction: rtl;
    font-weight: bold;
}

.doctor-button-container {
    width: 95%;
    height: 22%;
    margin-top: 18px;
    display: flex;
    flex-direction: row-reverse;
}

.nobat-btn {
    cursor: pointer;
    height: 100%;
    width: 75%;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 10px;
    vertical-align: middle;
    text-decoration: none;
    background-color: #fb815e;
    font-size: 18px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    line-height: 40px;
    border: none;
    padding: 0;
}

/* style for orange buttons hover */
.nobat-btn:hover .nobat-btn-inside {
    width: 100%;
    transition: width 1s ease;
}

/* style for buttons with transparent layer effect. transition time is set to 1s */
.nobat-btn-inside {
    opacity: 0.5;
    border-radius: 10px;
    background-color: #fc9c81;
    width: 25%;
    height: 100%;
    line-height: 40px;
    text-align: left;
    position: absolute;
    transition: width 1s ease;
}

/* style for registration text */
.nobat-text {
    text-align: center;
    font-size: 20px;
    direction: rtl;
    margin-right: 50px;
    margin-top: 6px;
}

/* style for heart button on each doctor */
.heart-button {
    height: 100%;
    width: 55px;
    background-color: #fafafa;
    border: 1px solid #ededed;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/* style for heart hover */
#heart:hover {
    fill: orangered;
    stroke: orangered;
}

/* style for avvalin nobat khali on doctor bottom */
.avvalin-nobat-khali {
    width: 100%;
    height: 10%;
    margin-top: 10px;
    align-items: center;
    font-size: 12px;
    color: #4dcc6b;
    text-align: center !important;
}

/* style for doctor 2 image */
#doctor2-image-container {
    width: 81%;
    height: 48%;
    background-image: url("../images/doctors/doc2.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 15px;
}

/* style for doctor 3 image */
#doctor3-image-container {
    width: 81%;
    height: 48%;
    background-image: url("../images/doctors/doc3.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 15px;
}

/* style for har anche main container */
#har-anche-container{
    background-color: #e5f2fe;
    height: 100%;
    width: 91%;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* style for har anche top */
#har-anche{
    width: 100%;
    height: 250px;
    background-color: #f8f7ef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* style for har anche header */
#har-anche-header{
    font-size: 20px;
    width: 98%;
    font-weight: 700!important;
    margin-top: 20px;
    direction: rtl;
    text-align: right;
    margin-right: 25px;
}

/* style for har anche long paragraph */
#har-anche-paragraph{
    margin-top: 20px;
    margin-right: 23px;
    color: #6e7794;
    font-size: 15px;
    direction: rtl;
    text-align: right;
    line-height: 30px;
}

/* style for har anche short paragraph*/
#har-anche-short-paragraph{
    margin-top: 20px;
    color: #6e7794;
    font-size: 15px;
    direction: rtl;
    text-align: right;
    line-height: 30px;
    width: 98%;
    margin-right: 21px;
}

/* style for har anche button container */
#har-anche-button-container{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

/* style for bishtar bekhanid button */
#bishtar-bekhanid-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-left: 25px;
    background-color: #fb815e;
    border-radius: 10px;
    height: 35px;
    width: 120px;
    text-align: center;
    padding-top: 5px;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

/* style for bushtar bekhanid text */
#bishtar-bekhanid-text{
    margin-right: 5px;
}

/* style for questions main container */
#questions{
    width: 100vw;
    height: 128vh;
    display: flex;
    flex-direction: row;
    background-color: #f8f7ef;
    justify-content: center;
    align-items: center;

}

/* style for each question */
#questions-container{
    background-color: white;
    width: 88%;
    height: 90%;
    border-radius: 15px;
    margin-right: 5px;
    padding-right: 25px;
    padding-top: 20px;
    border: 1px solid dimgray;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* style for question section header */
#questions-header{
    font-size: 20px!important;
    font-weight: 700!important;
    color: #3b4157;
    direction: rtl;
    text-align: right;
    width: 100%;
    height: 20px;
}

/* style for each question's mini container */
.questions-mini-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    border-bottom: 1px solid dimgray;
    width: 95%;
    direction: rtl;

}

/* style for eaach question paragraph */
.question-paragraph{
    margin-right: 10px;
    cursor: pointer!important;
    line-height: 30px;
    font-size: 14px;
    color: #3b4157;
    font-weight: 700!important;
}

/* style for questions right sight container where the blue squares reside */
.questions-auxiliary-container{
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 25px;
    flex-direction: row-reverse;
    align-items: center;
}

/* style for background patch to make our website look monolithic in color */
#background-patch{
    width: 100%;
    height:100px;
    background-color: #f8f7ef;
    position: absolute;
}


/* style for question svg taken from the original site*/
#question-svg
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #fa5a2c;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #24bece;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #fb815e;
    --secondary: #6e7794;
    --success: #28a745;
    --info: #24bece;
    --warning: #ffc107;
    --danger: #fa5a2c;
    --light: #f8f7ef;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    direction: rtl;
    text-align: right;
    width: 1.5em;
    height: 1.5em;
    fill: none;
    stroke: currentcolor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    box-sizing: inherit;
    border: 0 solid #e2e8f0;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer!important;
    background: #1780df;
    padding: 3px;
    color: #fff;
    border-radius: 25% 0 25% 25%;
}