
.container-lr-5-per-padding {
    padding-left: 5%;
    padding-right: 5%;
}


.no-lr-padding {
    padding-left: 0;
    padding-right: 0;
}


.padding-top-10 {
    padding-top: 10px;
}

.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-size {
    width: 100%;
    height: 100%;
}


.horizontal-center {
    margin-right: auto;
    margin-left: auto;
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.center {
    margin: auto;
}

.center-content {
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right;
}

.no-decoration {
    text-decoration: none;
}

.flex-container {
    display: flex;
}

.flex-space-between {
    justify-content: space-between;
}

.row-flex {
    flex-direction: row;
}

.col-flex {
    flex-direction: column;
}

.white-background {
    background-color: white;
}

.row-reverse-flex {
    flex-direction: row-reverse;
}

.no-border {
    border: none;
}

.rounded-border-5 {
    border-radius: 5px;
}

.rounded-border-10 {
    border-radius: 10px;
}

.rounded-border-15 {
    border-radius: 15px;
}

.rounded-border-20 {
    border-radius: 20px;
}

.circle-imag {
    border-radius: 50%;
}

.left-rounded-border-15 {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


.right-rounded-border-15 {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.purple-background {
    background-color: rgb(232, 201, 253);
}

.red-background {
    background-color: rgb(252, 186, 186);
}

.green-background {
    background-color: rgb(179, 232, 202);
}

.blue-background {
    background-color: rgb(171, 194, 216);
}

.pink-background {
    background-color: rgb(251, 203, 238);
}

.cyan-background {
    background-color: rgb(197, 225, 251);
}

.orange-background {
    background-color: rgb(253, 205, 176);
}

.img-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.my-btn:hover {
    cursor: pointer;
}