body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}

.topnav a {
    float: left;
    color: #6e7794;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #fb815e;
}

#enter-icon {
    transform: rotate(180deg);
}

.padding-top-10 {
    padding-top: 10px;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-size {
    width: 100%;
    height: 100%;
}

.left-menu {
    display: flex;
    background-color: #e2e8f0
}

.right-menu {
    display: flex;
    flex-direction: row-reverse;
}

.horizontal-center {
    margin-right: auto;
    margin-left: auto;
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.center {
    margin: auto;
}

.center-content {
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center
}

.no-decoration {
    text-decoration: none;
}

.reservation-box {

    width: 1184px;
    height: 280px;
    background-image: url("../images/reservation-box-background.png");
    background-size: cover;
    background-color: #1780df;

}

.search-box {
    width: 703px;
    height: 60px;
}

.flex-container {
    display: flex;
}

.flex-space-between {
    justify-content: space-between;
}

.row-flex {
    flex-direction: row;
}

.col-flex {
    flex-direction: column;
}

.white-background {
    background-color: white;
}

.row-reverse-flex {
    flex-direction: row-reverse;
}

.no-border {
    border: none;
}

.search-btn {
    background-color: #fb815e;
    width: 183px;
}

.search-field {
    width: 345px;
}

.location-select {
    width: 176px;
}

.rounded-border-5 {
    border-radius: 5px;
}

.rounded-border-10 {
    border-radius: 10px;
}

.rounded-border-15 {
    border-radius: 15px;
}

.rounded-border-20 {
    border-radius: 20px;
}


.left-rounded-border-15 {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


.right-rounded-border-15 {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.specialties-box {
    width: 902px;
    height: 150px;
}

.specialty {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgba(0, 0, 0, 0.125) !important;
    border-image: initial !important;
    width: 125px;
    height: 100%;
}

.specialty-icon {
    width: 103px;
    height: 85px;
}

.purple-background {
    background-color: rgb(232, 201, 253);
}

.red-background {
    background-color: rgb(252, 186, 186);
}

.green-background {
    background-color: rgb(179, 232, 202);
}

.blue-background {
    background-color: rgb(171, 194, 216);
}

.pink-background {
    background-color: rgb(251, 203, 238);
}

.cyan-background {
    background-color: rgb(197, 225, 251);
}

.orange-background {
    background-color: rgb(253, 205, 176);
}

.img-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


