body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}

.topnav a {
    float: left;
    color: #6e7794;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #fb815e;
}

#enter-icon {
    transform: rotate(180deg);
}

.left-menu {
    display: flex;
    background-color: #e2e8f0
}

.right-menu {
    display: flex;
    flex-direction: row-reverse;
}

.reservation-box {

    width: 1184px;
    height: 280px;
    background-image: url("../images/reservation-box-background.png");
    background-size: cover;
    background-color: #1780df;

}

#search-box {
    width: 703px;
    height: 60px;
}


#search-btn {
    background-color: #fb815e;
    width: 183px;
}

.search-field {
    width: 345px;
}

.location-select {
    width: 176px;
}



.specialties-box {
    width: 902px;
    height: 300px;
}

.specialty {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgba(0, 0, 0, 0.125) !important;
    border-image: initial !important;
    width: 125px;
    height: 100%;
}

.specialty-icon {
    width: 103px;
    height: 85px;
}

#patient-comments-section {
    width: 1184px;
    height: 730px;
}


#patient-comment-box {
    border: 1px solid #1780df;
    background-color: #e5f2fe;
    width: 562px;
    height: 370px;
}

#patient-comment {
    height: 70%;
}

#commented-dr-box {
    height: 30%;
    border-top: 2px dashed #1780df;
}


#commented-dr-profile {
    width: 70%;
    /*padding-right: 20px;*/
}

#comments-btn {
    color: white;
    background-color: #fb815e;
    width: 146px;
    height: 38px;
}

.commented-dr-profile-photo {
    width: 75px;
    height: 75px;
}




